
<div>
  <app-chip [tag]="tag"></app-chip>
  <div  class="flex flex-row flex-wrap">

    <div class="messages">
      <app-chat-list [data]="data"></app-chat-list>
    </div>


    <div class="messages flex  flex-col flex-wrap bg-red-50 p-2">

      <div class="message-content mb-3 mt-3">
        <div class="mensage text-left text-sm p-3">
          Nos podemos reunir para pactarlo este para
          este domingo?
        </div>
      </div>

      <div class="message-content mb-3 mt-3">
        <div class="mensage text-left text-sm p-3">
          Nos podemos reunir para pactarlo este para
          este domingo?
        </div>
      </div>

      <div class="message-content mb-3 mt-3 r">
        <div class="mensage text-left  text-sm p-3">
          Nos podemos reunir para pactarlo este para
          este domingo?
        </div>
      </div>

      <div class="message-content mb-3 mt-3 r">
        <div class="mensage text-left  text-sm p-3">
          Nos podemos reunir para pactarlo este para
          este domingo?
        </div>
      </div>
      <div class="flex items-center justify-items-center c">
        <input type="text" class="w-10/12 rounded mt-2 mb-2 ml-2">
        <div class="bg-blue-600 send rounded" >
          <mat-icon >send</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>


