.p-8 {
    padding: 1rem 2rem;
}
span.px-2.py-1.text-xs.font-medium.rounded-full {
    color: #ffffff;
    background-color: #004aad;
    padding: 4px 16px;
}
dd.text-gray-500 {
    font-weight: 600;
}
li.col-span-1 {
    background: rgba(243, 245, 255, 0.1);
    border: 2px solid #f3f5ff;
    box-sizing: border-box;
    border-radius: 10px;
}
