
<div class="content-stat">
  <div class="card-stat">
    <h4>Paquete de Trabajo</h4>
    <div class="card">
      <app-grafic [Labels]="workPack.labels" [data]="workPack.data"></app-grafic>
    </div>
  </div>
  <div class="card-stat">
    <h4>Paquete de Trabajo</h4>
    <div class="card">
      <app-grafic [Labels]="workComplete.labels" [data]="workComplete.data" [Type]='workComplete.type'></app-grafic>
    </div>
  </div>




</div>
<!-- <app-grafic [Labels]="workPack.labels" [data]="workPack.data"></app-grafic> -->
