<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <li *ngFor="let item of data">
      <a href="#" class="block hover:bg-gray-50">
        <div class="px-4 py-4 flex items-center sm:px-6">
          <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
            <div class="truncate">
              <div class="flex text-sm">
                <p class="font-medium text-indigo-600 truncate">{{item?.empresa}}</p>
                <p class="ml-1 flex-shrink-0 font-normal text-gray-500">
                  {{item?.actividad_comercial}}
                </p>
              </div>
              <div class="mt-2 flex">
                <div class="flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: solid/calendar -->
                  <mat-icon class="text-indigo-600">work_outline</mat-icon>
                  <p>
                    Closing on
                    <time datetime="2020-01-07">January 7, 2020</time>
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
              <div class="flex overflow-hidden -space-x-1">
                <ng-container *ngFor="let img of item?.empresas">
                  <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" [src]="'assets/empresas/'+ img" alt="Dries Vincent">
                </ng-container>

              </div>
            </div>
          </div>
          <div class="ml-5 flex-shrink-0">
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
