aside{
    transition-duration: 400ms;
    z-index: 100;
    padding: 8vh 0px 0px 0px;
    width: 5.1rem;
    overflow: hidden;
    .perfinlink{
        padding: 10px;
    }
    .perfinlink p{
        display: none;
        white-space: nowrap;
    }
    &:hover{
        width: 18rem;
        .perfinlink{
            padding: 10px 15px;
        }
        .perfinlink p{
            display: flex;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        .option{
            color: #ffffffc9;
            transition-duration: 300ms;
            height: 4rem;
            .icon{
                transition-duration: 400ms;
                transform: scale(1.17);
                margin: 0px 1.35rem;
                padding: 0.3rem;
                border-radius: 0.18rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:hover{
                color: #f5f5f5;
            }
        }
        p{
            padding: 0rem 1rem 0rem 0rem;
            font-weight: 600;
        }
    }
}

.cont{
    width: 100%;
    overflow: auto;
    height: 92vh;
    margin-top: 8vh;
}

.active{
    background-color: #F3F5FF;
    color: #1DA0FF;
}
.active .icon{
    color: #1DA0FF;
}
.option:hover{
    background: #F3F5FF;
    color: #1DA0FF !important;
    .icon, p{
        color: #1DA0FF !important;
    }
}
.bggrad{
    background: linear-gradient(265.38deg, rgba(29, 160, 255, 0.87) -20%, rgba(0, 74, 173, 0.87) 97.46%);
}

.text-white {
    display: flex;
}
.text-bla{
    white-space: nowrap;
}