* {
    font-family: Roboto;
}
.contracts-container {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
    padding: 30px;
    gap: 30px;
    background-color: #ffffff;
}
.space-1,
.space-2 {
    border: 3px solid #f3f5ff;
    border-radius: 10px;
    height: 100%;
}
.space-2 {
    padding: 30px;
}
.space-3 {
    grid-column: 1/3;
    grid-row: 2;
}
.space-3 h2 {
    font-weight: 500;
    font-size: 23px;
    color: #004aad;
    padding: 30px 0;
    border-top: 2px solid #f3f5ff;
}
.space-3 ul:first-of-type {
    padding: 0 30px 30px 0;
}
.space-3 ul li.contract-card {
    background: #f3f5ff;
    border-radius: 5px;
}
.space-1 ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #004aad;
    padding: 20px;
}
.space-1 ul li:not(:last-child) {
    border-bottom: 3px solid #f3f5ff;
}
.space-1 ul li:last-child {
    justify-content: center;
}
.space-1 ul li h2 {
    font-weight: 500;
    font-size: 16px;
    color: #004aad;
}
.space-1 ul li button {
    background: #f3f5ff;
    border: 1px solid #004aad;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 12px;
    color: #004aad;
}
.space-1 ul li:last-child #record {
    justify-content: center;
    height: 30px;
}
h3.text-lg.leading-6.font-medium.text-gray-900 {
    text-align: center;
    padding-bottom: 5px;
}
.sm\:p-6 {
    padding: 1rem;
}
.px-4.py-5.bg-white.shadow.overflow-hidden.sm\:p-6 {
    background: rgba(233, 236, 252, 0.88);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.px-4.py-5.bg-white.shadow.overflow-hidden.sm\:p-6:first-child {
    border-radius: 10px 0px 0px 10px;
}
.px-4.py-5.bg-white.shadow.overflow-hidden.sm\:p-6:last-child {
    border-radius: 0px 10px 10px 0px;
}
dd.mt-1.text-3xl.font-semibold.text-gray-900 {
    color: #1da0ff;
}
h3.text-lg.leading-6.font-medium.text-gray-900,
dt.text-sm.font-medium.text-gray-500.truncate {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #004aad;
}
dt.text-sm.font-medium.text-gray-500.truncate {
    font-size: 14px;
}

ul.measurer {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 0 16px 16px;
    border-top: 2px solid;
}
ul.measurer li {
    height: 10px;
    width: 100%;
    justify-content: left;
    margin: 25px 10px 10px;
    background: rgba(196, 196, 196, 0.36);
    border: 0.5px solid #94999f;
}
.measurer-active {
    background: #00C013 !important;
}
.custom-chip {
    background: #1DA0FF;
    color: #FFFFFF;
}
h3.text-gray-900.text-sm.font-medium.truncate {
    font-size: 22px;
    color: #004AAD;
}