header{
    background-color: var(--blanco);
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 8vh;
}
button{
    outline: none !important;
}
.botonperfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

